[Unit]
Description=Hyprland Wayland Compositor Session
After=graphical-session.target

[Service]
ExecStart=/usr/bin/Hyprland
Restart=always
Environment="XDG_RUNTIME_DIR=/run/user/%U"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus"
Environment="WAYLAND_DISPLAY=wayland-0"

[Install]
WantedBy=default.target

