[Unit]
Description=Start 1Password desktop app
After=graphical-session.target

[Service]
ExecStart=/opt/1Password/1password --silent
Restart=on-abort

[Install]
WantedBy=default.target
