[Unit]
Description=Kitty persistent server

[Service]
Environment=KITTY_LISTEN_ON=unix:/tmp/kitty
ExecStart=/usr/bin/kitty --single-instance --listen-on unix:/tmp/kitty
Restart=on-failure

[Install]
WantedBy=default.target
