[Unit]
Description=Block firefox during study focus
PartOf=study-focus-block.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/true

[Install]
WantedBy=study-focus-block.target
